{% extends "base.html" %}
{% load bootstrap3 %}
{% block contenido %}
 <div class="col-md-12">
           <div class="panel panel-inverse">
               <div class="panel-heading">
                   <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title"></h4>
                </div>
                
                
                {% if messages %}
	                <ul class="messages">
					    {% for message in messages %}
					    <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
					    <div class="alert alert-danger"> {{ message }} </div>
					    {% endfor %}
					</ul>
                {% endif %}
                
                        <div class="panel-body">
					    <p></p>
					    <div class="row">
						
							<form role="form" enctype="multipart/form-data" action="{% url 'usuario:crear_administrador'  %}" data-toggle="validator" 
							method="POST" name="form_crear_usuario" class="form-horizontal">{% csrf_token %}
								
								<div class="col-md-6 ui-sortable form-horizontal" style='left: 25%'>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputName" class="control-label">Nombres</label>
											<input type="text" class="form-control" name= "nombre" id="nombre" placeholder="Nombres" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputName" class="control-label">Primer Apellido</label>
											<input type="text" class="form-control" name= "PrimerApellido" id="PrimerApellido" placeholder="Primer Apellido" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputName" class="control-label">Segundo Apellido</label>
											<input type="text" class="form-control" id="SegundoApellido" name= "SegundoApellido" placeholder="Segundo Apellido" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											
											<label for="inputName" class="control-label">Tipo de Identificacion</label>
											
											<div class="radio">
												<label>
													<input id="tipoIdentidad[]" name= "tipoIdentidad[]" type="radio" name="underwear" value = "Cedula de ciudadania" required>
													Cedula de ciudadania
												</label>
											</div>
											<div class="radio">
												<label>
													<input id="tipoIdentidad[]" name= "tipoIdentidad[]" type="radio" value= "Tarjeta de identidad" required>
													Tarjeta de identidad
												</label>
											</div>
											<div class="radio">
												<label>
													<input id="tipoIdentidad[]" name= "tipoIdentidad[]" type="radio" value="Cedula de extranjeria" required>
													Cedula de extranjeria
												</label>
											</div>
										</div>
									
									</div>
								
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputName" class="control-label">Numero de Identificacion</label>
											<input type="number" maxlength="18" class="form-control" id="NumeroIdentificacion"  name= "NumeroIdentificacion" placeholder="Numero de Identificacion" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputDate" class="control-label">Fecha de Nacimiento</label>
											<input type="date" class="form-control" id="FechaNacimiento" name= "FechaNacimiento" placeholder="Fecha de Nacimiento" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
										   <label for="inputEmail" class="control-label">Email</label>
										   <input type="email" class="form-control" id="inputEmail" name= "inputEmail" placeholder="Email" data-error="Email Invalido D:" required>
										   <div class="help-block with-errors"></div>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputName" class="control-label">Telefono</label>
											<input type="number" maxlength="18" class="form-control" id="Telefono" name= "Telefono" placeholder="Telefono" required>
										</div>
									</div>
									
									<div class="col-md-12 ui-sortable">
										<div class="form-group">
											<label for="inputPassword" class="control-label">Password</label>
											<input type="password" class="form-control" id="inputPassword" name="inputPassword"  placeholder="Password" required>
										    <div class="help-block with-errors"></div>
										</div>
									</div>
		
									<div class="form-group">
										<label class="col-md-4 col-sm-4 control-label "></label>
										<div class="col-md-6 col-sm-6">
											<button type="submit" class="btn btn-primary">Crear</button>
										</div>
									</div>
								</div>
							</form>

						</div>


					</div>
                </div>
                
                <script>
               
				$(document).ready(function(){
				    $('form_crear_usuario').submit(function(event) { // o el id de tu formulario
				        alert("Workssss hahah");
				        if($('#{{form.primer_nombre.id_for_label}}').val() == 'lulu') {
				            alert("El campo primer nombre NO puede ser vacio");
				        }
				    })
				
				})
				</script>
</div>

{% endblock contenido %}

{% block plugins %}


	<script>
			$(document).ready(function() {
				
				App.init();


			});
	</script>




{% endblock plugins %}
